:root {
    --noto: 'Noto Sans', sans-serif;
    --azul: #7BDFF2;
    --ciano: #B2F7EF;
    --branco: #FAF9F7;
    --rosa: #F7D6E0;
    --lilas: #F2B5D4;
    --amarelo: #FFFCAC;
    --amarelo-escuro: #FFE27C;
    --preto: #1E1E1E;
    --neo-azul: #A7DFE2;
    --neo-ciano: #BCFBFF;
}

body {
    font-family: var(--noto);
    background-image: url('./imgs/bg-black-white.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

.tituloMaior {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.titulo {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.texto {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    line-height: 1.5rem;
}

strong {
    font-weight: 600;
}

header {
    height: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 2rem auto;
    padding: 1.5rem;

    border-style: solid;
    border-width: 0.2rem;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.2rem rgb(0 0 0 / 33%);

    background-color: var(--branco);
    border-color: var(--preto);

    width: 90vw;
}

.fotoPerfil {
    width: 10rem;
}

.caixa__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1.5rem;
    margin-bottom: 2rem;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;

    width: 90vw;

    border-style: solid;
    border-width: 0.2rem;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.2rem rgb(0 0 0 / 33%);

    padding: 1.5rem;

    background-color: var(--branco);
}

.section__caixa {
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 10px;
    box-shadow: 0 0.125rem 0.2rem rgb(0 0 0 / 33%);
    
    min-width: 8rem;
    max-width: fit-content;
    padding: 0.5rem;

    display: flex;
    align-content: center;
    align-items: center;

    background-color: var(--branco);
    border-color: var(--preto);
}

.section__caixa:last-child {
    max-width: 17rem;
}

.icone {
    width: 2rem;
}

.section__texto {
    font-weight: 400;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
}

.linguagens__html {
    background-color: var(--neo-ciano);
    border-color: var(--neo-azul);
}

.linguagens__css {
    background-color: var(--neo-ciano);
    border-color: var(--neo-azul);
}

.linguagens__js {
    background-color: var(--neo-ciano);
    border-color: var(--neo-azul);
}

.iconeAlura {
    height: 2.5rem;
}

.section__link {
    text-decoration: none;
    color: var(--preto);
    transition: 200ms;
}

.section__link:hover {
    transform: scale(1.1);
}

.section__link:active {
    transform: scale(0.9);
}

.textoMaior {
    padding-left: 0.5rem;
}

.section:last-child {
    justify-content: center;
    column-gap: 1rem;
}

.redes__caixa {
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 2rem;
}

footer {
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .texto {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0 1rem;
}

@media screen and (min-width: 768px) {
    header {
        height: 13.5rem;

        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 75vw;
    }

    .fotoPerfil {
        margin-top: 0;
    }

    .section {
        width: 75vw;
    }
}

@media screen and (min-width: 1280px) {
    header {
        width: 60vw;
    }
    
    main {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 1.5rem;
    }

    .section {
        width: 60vw;
        justify-content: center;
        column-gap: 2rem;
    }

    .section:last-child {
        justify-content: center;
        column-gap: 3rem;
    }
}